@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div id="alertContainer"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="user_name" />
                <label asp-for="Input.Username">Username</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
 
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        //Handle form submission via AJAX
        $(document).ready(function(){
            $('#registerForm').submit(function(){
                e.preventDefault();

                const email = $('#Input_Email').val();
                const username = $('#Input_Username').val();
                const password = $('#Input_Password').val();

                //Send Login request to Web API
                $.ajax({
                    url: 'https://localhost:7007/api/account/register',
                    method: 'Post',
                    contentType: 'application/json',
                    data: JSON.stringify({username,email,password}),
                    success: function(response) {
                            $('#alertContainer').html(
                            '<div class="alert alert-success" role="alert">Registration Successful</div>'
                        );
                        window.location.href ='/Identity/Account/Login'; //Redirect to Login page
                    },
                    error : function(){
                        alert("Registration failed! Please try again.");
                    }
                });

            });
        });
    </script>
}
